<header class="barra">
    <div class="titulo">
        <div class="icono">
            <img src="./int/7-Icono.svg" class="img-fluid">
        </div>
        <div class="texto">
            Ponte a prueba
        </div>
    </div>
    <a href="#" class="volver"></a>
</header>
<section class="contenido">
    <div class="seccion sec01 una-imagen">
        <div class="contenedor">
            <h3 class="texto-resaltado">Hemos subido a la copa del árbol y hasta aquí nuestro camino.</h3>
            <p class="texto">Observa la siguiente imagen, identifica el origen de las especies, qué tenemos todas en común, cómo se clasifican y responde a la gran pregunta.</p>
            <figure>
                <img class="img" src="./img/MN_3C_07_LM_DF_IMG003.jpg">
                <figcaption>
                    <span>¿Qué tienen en común todos los seres vivos?</span>
                </figcaption>
            </figure>
        </div><!-- /.contenedor -->
    </div><!-- /.sec01 -->
</section>
<footer class="pie">
    <nav id="navbar">
        <a href="#" class="anterior"></a>
        <a href="#" class="siguiente"></a>
        <a href="#" class="volver"></a>
    </nav>
    <div id="titulo">
        <div id="desafio">
            Desafío
        </div>
        <div id="tema">
            Los seres vivos
        </div>
    </div>
    <div class="figura"></div>
</footer>