<header class="barra">
	<div class="titulo">
		<div class="icono">
			<img src="./int/6-Icono.svg"
					 class="img-fluid">
		</div>
		<div class="texto">
			Ve más allá
		</div>
	</div>
	<a href="#"
		 class="volver"></a>
</header>
<section class="contenido">
	<div class="seccion sec01">
		<div class="contenedor">
			<h3 class="texto-resaltado">Ahora que ya dominas tu tema, aplica tus dotes para profundizar en otros aspectos
				relacionados con este.</h3>
			<p><strong>Puedes centrarte en alguna de las siguientes propuestas:</strong></p>
			<ul>
				<li>
					<a href="https://smartlink.aulaplaneta.com/?permaId=2A35D7B0-955E-47DA-BE4F-9BCB0083303F">
						Identifica qué funciones vitales realiza un ser vivo
					</a>
				</li>
				<li>
					<a href="https://smartlink.aulaplaneta.com/?permaId=3B86FECB-9CFE-4460-850C-51232815A835">
						Conoce las formas de adaptación al medio de algunos seres vivos
					</a>
				</li>
				<li>
					<a href="https://smartlink.aulaplaneta.com/?permaId=35028937-7D35-4F0B-B0E0-CC51B19EB172">
						Reconoce a qué reino pertenece
					</a>
				</li>
				<li>
					<a href="https://smartlink.aulaplaneta.com/?permaId=27990596-2885-4E67-8520-E7A5DD1A0274">
						Resuelve el crucigrama sobre seres vivos
					</a>
				</li>
				<li>
					<a href="https://smartlink.aulaplaneta.com/?permaId=8AE78452-13DF-4BC7-9D83-8C1DFA94D358">
						Define los insectos
					</a>
				</li>
				<li>
					<a href="https://smartlink.aulaplaneta.com/?permaId=6C582D05-BB3A-45AE-96A6-ECE8CCCF3E19">
						Profundiza en los hongos
					</a>
				</li>
				<li>
					<a href="https://smartlink.aulaplaneta.com/?permaId=D3EE6D9A-979C-42EB-BB33-D652497C6C34">
						Competencias: identificación de las funciones vitales
					</a>
				</li>
				<li>
					<a href="https://smartlink.aulaplaneta.com/?permaId=B607F4E2-91C2-486A-93D5-DFDDD2C006EB">
						Competencias: diferenciación de las células aninales y vegetales
					</a>
				</li>
				<li>
					<a href="https://smartlink.aulaplaneta.com/?permaId=FB202E0C-8A0F-4DA1-9A4F-C98B721AA59F">
						Competencias: diferenciación de los reinos y grupos
					</a>
				</li>
				<li>
					<a href="https://smartlink.aulaplaneta.com/?permaId=57C795A9-4EDB-44B9-AB2A-64AF532CD169">
						Competencias: identificación de hongos y bacterias
					</a>
				</li>
				<li>
					<a href="https://smartlink.aulaplaneta.com/?permaId=980F7AA2-EB75-44AD-9B85-FD4E5F27F491">
						Competencias: descripción de un ser vivo
					</a>
				</li>
			</ul>
			<p><strong>Ten en cuenta los pasos necesarios para completar el trabajo de investigación y ampliar, con ello, tus
					conocimientos sobre el tema.</strong></p>
		</div><!-- /.contenedor -->
	</div><!-- /.sec01 -->
</section>
<footer class="pie">
	<nav id="navbar">
		<a href="#"
			 class="anterior"></a>
		<a href="#"
			 class="siguiente"></a>
		<a href="#"
			 class="volver"></a>
	</nav>
	<div id="titulo">
		<div id="desafio">
			Desafío
		</div>
		<div id="tema">
			Los seres vivos
		</div>
	</div>
	<div class="figura"></div>
</footer>