<header class="barra">
    <div class="titulo">
        <div class="icono">
            <img src="./int/1-Icono.svg" class="img-fluid">
        </div>
        <div class="texto">
            Comienza la aventura
        </div>
    </div>
    <a href="#" class="volver"></a>
</header>
<section class="contenido">
    <div class="seccion sec01">
        <div class="contenedor">
            <div class="video-youtube embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3fYTctvTCGg?controls=1" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="seccion sec02">
        <div class="preg-detona">
            <div class="fondo">
                <div class="texto">
                    ¿Qué tienen en común todos los seres vivos?
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="pie">
    <nav id="navbar">
        <a href="#" class="anterior"></a>
        <a href="#" class="siguiente"></a>
        <a href="#" class="volver"></a>
    </nav>
    <div id="titulo">
        <div id="desafio">
            Desafío
        </div>
        <div id="tema">
            Los seres vivos
        </div>
    </div>
    <div class="figura"></div>
</footer>
