<header class="barra">
	<div class="titulo">
		<div class="icono">
			<img src="./int/4-Icono.svg"
					 class="img-fluid">
		</div>
		<div class="texto">
			Escoge tu camino
		</div>
	</div>
	<a href="#"
		 class="volver"></a>
</header>
<section class="contenido">
	<div class="seccion sec01">
		<div class="contenedor">
			<h3 class="texto-resaltado">
				Ahora, busca las respuestas a las preguntas que te has planteado y profundiza en un tema de tu interés.
			</h3>
			<div class="texto">
				<p>
					<strong>
						Propón uno o escoge entre los siguientes:
					</strong>
				</p>
				<ul>
					<li><em>En pleno desarrollo</em> (Los seres vivos y seres inertes)</li>
					<li><em>Los más nerviosos</em> (Los diferentes grupos de animales y sus características)</li>
					<li><em>De raíz</em> (El reino de las plantas)</li>
					<li><em>No son plantas, aunque vivan en el bosque</em> (El reino de los hongos)</li>
					<li><em>Un buen principio</em> (El reino de las móneras)</li>
					<li><em>Gran variedad</em> (El reino de los protoctistas)</li>
				</ul>
				<p>
					<strong>
						Reúne a tu equipo de trabajo y sigue el recorrido.
					</strong>
				</p>
			</div>
		</div>
	</div><!-- -sec01 -->
	<div class="seccion sec02">
		<div class="contenedor">
			<div class="texto-resaltado-inv">
				Ahora, sigue estos pasos:
			</div>
			<div class="pasos">
				<div class="paso paso01">
					<div class="numero">
						<span>1</span>
					</div>
					<div class="descripcion">
						<p><strong>Define o identifica</strong></p>
						<p>el objetivo de tu trabajo.</p>
					</div>
				</div>
				<div class="paso paso02">
					<div class="numero">
						<span>2</span>
					</div>
					<div class="descripcion">
						<p><strong>Organiza y planifica</strong></p>
						<p>las tareas por completar.</p>
					</div>
				</div>
				<div class="paso paso03">
					<div class="numero">
						<span>3</span>
					</div>
					<div class="descripcion">
						<p><strong>Busca y selecciona</strong></p>
						<p>la información necesaria.</p>
					</div>
				</div>
				<div class="paso paso04">
					<div class="numero">
						<span>4</span>
					</div>
					<div class="descripcion">
						<p><strong>Analiza y evalúa</strong> la información</p>
						<p>que has recopilado.</p>
					</div>
				</div>
				<div class="paso paso05">
					<div class="numero">
						<span>5</span>
					</div>
					<div class="descripcion">
						<p><strong>Extrae</strong> tus conclusiones.</p>
					</div>
				</div>
			</div>
		</div>
	</div><!-- -sec02 -->
	<div class="seccion sec03">
		<div class="contenedor">
			<h3 class="texto-resaltado">
				¿Qué te ofrece <span class="ap"><span>aula</span><span>Planeta</span></span>?
			</h3>
			<div class="texto">
				<p>
					<strong>
						Además del <a href="https://smartlink.aulaplaneta.com/?permaId=3e92bcd1-b787-492b-9d61-613a5392f26e"
							 target="_blank">Cuaderno de aprendizaje</a>, los siguientes recursos:
					</strong>
				</p>
				<ul>
					<li>
						<a href="https://smartlink.aulaplaneta.com/?permaId=9EB007F0-A2F0-46B8-AF9A-2DB1F2A45C63">
							Los seres vivos y los seres inertes
						</a>
					</li>
					<li>
						<a href="https://smartlink.aulaplaneta.com/?permaId=BA517386-A74A-4C76-94FB-8A50562FD252">
							Las funciones vitales de los seres vivos
						</a>
					</li>
					<li>
						<a href="https://smartlink.aulaplaneta.com/?permaId=77845AEA-0AF5-43E6-B03E-7DB4669EE688">
							La locomoción de la culebra
						</a>
					</li>
					<li>
						<a href="https://smartlink.aulaplaneta.com/?permaId=1792C988-E330-4B6E-847B-5FFCA4E23D90">
							Las relaciones de defensa
						</a>
					</li>
					<li>
						<a href="https://smartlink.aulaplaneta.com/?permaId=3AD6B52C-5141-4637-B1CB-D0C6F731072F">
							Los cinco reinos
						</a>
					</li>
					<li>
						<a href="https://smartlink.aulaplaneta.com/?permaId=754D12B7-B736-484B-B8B4-5664B3E329C3">
							La clasificación de los seres vivos
						</a>
					</li>
					<li>
						<a href="https://smartlink.aulaplaneta.com/?permaId=ECFDAE74-29FA-4B18-83F4-AD12CC912AA1">
							Los reinos de las plantas y los hongos
						</a>
					</li>
					<li>
						<a href="https://smartlink.aulaplaneta.com/?permaId=9CD6E8F1-2535-4FC6-8404-CDC59B87B0AF">
							Las bacterias y los virus
						</a>
					</li>
					<li>
						<a href="https://smartlink.aulaplaneta.com/?permaId=954BD8AD-B9AF-4EE5-96F7-49B2BAA1080B">
							Las algas y los protozoos
						</a>
					</li>
					<li>
						<a href="https://smartlink.aulaplaneta.com/?permaId=2A3C6791-0552-44EF-ABCE-3CDE60BB9482">
							El laboratorio de ciencias
						</a>
					</li>
				</ul>
				<p>
					<strong>
						Considera también buscar información sobre el tema en el Banco de contenidos.
					</strong>
				</p>
			</div><!-- /.texto -->
		</div><!-- /.contenedor -->
	</div><!-- /.sec03 -->
	<div class="seccion sec04">
		<div class="contenedor">
			<h3 class="texto-resaltado">¿Qué puedes buscar en Internet?</h3>
			<div class="texto">
				<p><strong>Para tener una visión general sobre el tema, consulta estos enlaces:</strong></p>
				<ul>
					<li>
						<a
							 href="http://www3.gobiernodecanarias.org/medusa/ecoescuela/recursosdigitales/2014/11/09/clasificacion-de-los-seres-vivos/">Clasificación
							de los seres vivos</a>, secuencia didáctica sobre la clasificación de los seres vivos, de Recursos
						educativos digitales, Gobierno de Canarias.
					</li>
					<li>
						<a href="http://recursostic.educacion.es/ciencias/biosfera/web/alumno/1ESO/clasica/contenidos.htm">Clasificación
							de los seres vivos</a>, información sobre los reinos de los seres vivos y cómo se pueden ver a través de
						un microscopio, del Proyecto Biosfera.
					</li>
					<li>
						<a
							 href="https://cienciadebolsillo.com/biologia-humanos-y-naturaleza/el-enemigo-de-mi-enemigo/gmx-niv44-con60.htm">El
							enemigo de mi enemigo</a>, información sobre las bacterias y los virus, de Ciencia de Bolsillo.
					</li>
				</ul>
				<p><strong>Si te atreves con el inglés, consulta</strong> <a
						 href="http://www.onezoom.org/life.html/@biota=93302#x914,y880,w0.7360">OneZoom Tree of Life Explorer</a>,
					árbol filogenético interactivo, de OneZoom.</p>
				<p><strong>No te conformes con esto. Sigue explorando la Red y encuentra todos aquellos recursos que puedan
						ayudarte con tu investigación.</strong></p>
			</div><!-- /.texto -->
		</div><!-- /.contenedor -->
	</div><!-- -sec04 -->
	<div class="seccion sec05">
		<div class="contenedor">
			<h3 class="texto-resaltado">¿Qué encontrarás en la biblioteca?</h3>
			<div class="texto">
				<p><strong>No te conformes con lo que puedas encontrar a golpe de clic. Consulta:</strong></p>
				<ul>
					<li>Enciclopedias de animales y plantas</li>
					<li>Atlas biológicos</li>
					<li>Libros de biología</li>
					<li>Revistas especializadas</li>
				</ul>
			</div><!-- /.texto -->
		</div><!-- /.contenedor -->
	</div><!-- -sec05 -->
</section>
<footer class="pie">
	<nav id="navbar">
		<a href="#"
			 class="anterior"></a>
		<a href="#"
			 class="siguiente"></a>
		<a href="#"
			 class="volver"></a>
	</nav>
	<div id="titulo">
		<div id="desafio">
			Desafío
		</div>
		<div id="tema">
			Los seres vivos
		</div>
	</div>
	<div class="figura"></div>
</footer>