<header class="barra">
    <div class="titulo">
        <div class="icono">
            <img src="./int/5-Icono.svg" class="img-fluid">
        </div>
        <div class="texto">
            Dale forma
        </div>
    </div>
    <a href="#" class="volver"></a>
</header>
<section class="contenido">
    <div class="seccion sec01">
        <div class="contenedor">
            <h3 class="texto-resaltado">Comparte con los demás lo que has aprendido en los últimos días mediante una pieza de puzle y un mural digital. Sintetiza de forma visual y clara tu trabajo.</h3>
            <p><strong>Saca partido a tu creatividad y prepara con tus compañeros una pieza de puzle que contenga la información sintetizada de un mural digital. Ten en cuenta qué quieres explicar para luego representarlo en el mural.</strong></p>
            <p><strong>¿Qué herramientas puedes utilizar?</strong> Busca aquella que mejor se adapte a las necesidades de tu proyecto. Te recomendamos:</p>
            <ul>
                <li><a href="http://edu.glogster.com/?ref=co" target="_blank">Glogster</a></li>
                <li><a href="https://www.pearltrees.com/" target="_blank">Pearltrees</a></li>
            </ul>
            <p><strong>Una vez creada la pieza, comparte la información con el resto de compañeros para poder montar un puzle con los pentágonos.</strong></p>
            <p><strong>Una vez completada la elaboración del puzle, comparte con el resto de grupos tu mural digital a partir del código QR que contenga tu pieza de puzle.</strong></p>
        </div><!-- /.contenedor -->
    </div><!-- /.sec01 -->
</section>
<footer class="pie">
    <nav id="navbar">
        <a href="#" class="anterior"></a>
        <a href="#" class="siguiente"></a>
        <a href="#" class="volver"></a>
    </nav>
    <div id="titulo">
        <div id="desafio">
            Desafío
        </div>
        <div id="tema">
            Los seres vivos
        </div>
    </div>
    <div class="figura"></div>
</footer>