<header class="barra">
	<div class="titulo">
		<div class="icono">
			<img src="./int/3-Icono.svg"
					 class="img-fluid">
		</div>
		<div class="texto">
			Tira del hilo
		</div>
	</div>
	<a href="#"
		 class="volver"></a>
</header>
<section class="contenido">
	<div class="seccion sec01">
		<div class="texto-resaltado">
			Para poder responder a la gran pregunta, plantéate algunas preguntas básicas sobre los siguientes aspectos, claves
			para adentrarse en el estudio de los seres vivos:
		</div>
		<div class="hilo">
			<div class="aspectos">
				<div class="aspecto asp1">
					<img src="./img/1-iconohilo.svg">
					<span>Ubicación</span>
				</div>
				<div class="aspecto asp2">
					<img src="./img/Icono_PaisajeMontanasRio.svg">
					<span>Medio natural</span>
				</div>
				<div class="aspecto asp3">
					<img src="./img/Icono_FloraFauna.svg">
					<span>Relación</span>
				</div>
				<div class="aspecto asp4">
					<img src="./img/4-iconohilo.svg">
					<span>Nutrición</span>
				</div>
				<div class="aspecto asp5">
					<img src="./img/5-iconohilo.svg">
					<span>Reproducción</span>
				</div>
				<div class="aspecto asp7">
					<img src="./img/6-iconohilo.svg">
					<span>Estructura</span>
				</div>
				<div class="aspecto asp8">
					<img src="./img/8-iconohilo.svg">
					<span>Tiempo</span>
				</div>
			</div>
		</div>
	</div>
</section>
<footer class="pie">
	<nav id="navbar">
		<a href="#"
			 class="anterior"></a>
		<a href="#"
			 class="siguiente"></a>
		<a href="#"
			 class="volver"></a>
	</nav>
	<div id="titulo">
		<div id="desafio">
			Desafío
		</div>
		<div id="tema">
			Los seres vivos
		</div>
	</div>
	<div class="figura"></div>
</footer>