<header class="barra">
    <div class="titulo">
        <div class="icono">
            <img src="./int/2-Icono.svg" class="img-fluid">
        </div>
        <div class="texto">
            En tus manos
        </div>
    </div>
    <a href="#" class="volver"></a>
</header>
<section class="contenido">
    <div class="seccion sec01">
        <div class="texto-inicial">
            ¿Alguna vez, al pasear  por el bosque, te has parado a pensar en cuántos seres vivos diferentes puedes encontrar en él? ¡Y no todos son plantas! Si te fijas bien, puedes descubrir especies de los restantes reinos, aunque las más pequeñas solo las podrás ver con ayuda de un microscopio.
        </div>
        <div class="texto-resaltado">
            Acepta el desafío y descubre las similitudes que comparten todos los seres vivos y, al mismo tiempo, las características que los hacen tan diferentes.
        </div>
        <figure class="imagen-apoyo">
            <div class="imagen"><img src="./img/MN_3C_07_LM_DF_IMG002.jpg"></div>
        </figure>
    </div>
</section>
<footer class="pie">
    <nav id="navbar">
        <a href="#" class="anterior"></a>
        <a href="#" class="siguiente"></a>
        <a href="#" class="volver"></a>
    </nav>
    <div id="titulo">
        <div id="desafio">
            Desafío
        </div>
        <div id="tema">
            Los seres vivos
        </div>
    </div>
    <div class="figura"></div>
</footer>
