<header class="barra">
	<div class="titulo">
		<div class="icono">
			<img src="./int/8-Icono.svg"
					 class="img-fluid">
		</div>
		<div class="texto">
			Meta
		</div>
	</div>
	<a href="#"
		 class="volver"></a>
</header>
<section class="contenido">
	<div class="seccion sec01">
		<div class="contenedor">
			<h3 class="texto-resaltado"></h3>
			<h3 class="texto-resaltado">¿Serás capaz de superar la última prueba?</h3>
			<p><strong>Demuestra cuánto has aprendido sobre los seres vivos resolviendo las pruebas de Aulaplaneta.</strong>
			</p>
			<p><strong>Al final, no olvides valorar tus logros con la <em>Diana de aprendizaje</em>.</strong></p>
		</div><!-- /.contenedor -->
	</div><!-- /.sec01 -->
</section>
<footer class="pie">
	<nav id="navbar">
		<a href="#"
			 class="anterior"></a>
		<a href="#"
			 class="siguiente"></a>
		<a href="#"
			 class="volver"></a>
	</nav>
	<div id="titulo">
		<div id="desafio">
			Desafío
		</div>
		<div id="tema">
			Los seres vivos
		</div>
	</div>
	<div class="figura"></div>
</footer>