<div id="titulo">
    <div id="desafio">
        Desafío
    </div>
    <div id="tema">
        Los seres vivos
    </div>
</div>
<div class="logo"></div>
<div class="figura"></div>
<nav id="botonera">
    <a id="btn01" href="#">
        <div class="icono">
        </div>
        <div class="texto">
            Comienza la aventura
        </div>
    </a>
    <a id="btn02" href="#">
        <div class="icono">
        </div>
        <div class="texto">
            En tus manos
        </div>
    </a>
    <a id="btn03" href="#">
        <div class="icono">
        </div>
        <div class="texto">
            Tira del hilo
        </div>
    </a>
    <a id="btn04" href="#">
        <div class="icono">
        </div>
        <div class="texto">
            Escoge tu camino
        </div>
    </a>
    <a id="btn05" href="#">
        <div class="icono">
        </div>
        <div class="texto">
            Dale forma
        </div>
    </a>
    <a id="btn06" href="#">
        <div class="icono">
        </div>
        <div class="texto">
            Ve más allá
        </div>
    </a>
    <a id="btn07" href="#">
        <div class="icono">
        </div>
        <div class="texto">
            Ponte a prueba
        </div>
    </a>
    <a id="btn08" href="#">
        <div class="icono">
        </div>
        <div class="texto">
            Meta
        </div>
    </a>
</nav>
